/* h1{
    text-align: center;
} */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:white;
}

.navbar nav a{
  margin:0 15px;
  text-decoration:none;
  color:#333;
}

.logo{
  font-weight:bold;
  font-size:22px;
}

.nav-btns button{
  margin-left:10px;
  padding:10px 15px;
  border:none;
  border-radius:20px;
  cursor:pointer;
}

.career{
  background:#ddd;
}

.start{
  background:#f59e0b;
  color:white;
}
.about{
    background-color: black;
    color: #ddd;
    border-radius: 5px;
    width: 200px;
   text-align: center;
   font-size:14px;
}
.top{
   font-family:Georgia, 'Times New Roman', Times, serif
}
.get{
  width: 150px;
  background-color: #f59e0b;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}
.learn{
  width: 150px;
 
  color:black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

